<header id="header">
  <div class="header" ng-class="$root.toggleNavState ? 'collapsed':''">
    <div class="header__info-section">
      <span class="page-title">{{ dataService.language == 'ru' ? page_title_ru : page_title }}</span>
      <div class="header__title">
        <div>{{ dataService.hostname | limitTo: 64 }}{{dataService.hostname.length > 64 ? '...' : ''}}</div>
        <div>{{ dataService.server_id }}</div>
      </div>
    </div>
    <div class="header__functions-section">
      <div class="header__functions">
	<div class="{{ dataService.language == 'ru' ? 'language_ru':'language_en' }}">
          <select id="language" ng-model="dataService.language" ng-click="setLanguage()">
	    <option value="ru">Русский</option>
	    <option value="en">English(US)</option>
	  </select>
	</div>

        <a class="header-icon-wrapper" href="#/server-health/event-log"
          ng-class="dataService.server_health == 'Critical' ? 'alert-text-critical' : dataService.server_health == 'Warning' ? 'alert-text-warning' : ''">
          <status-icon status="{{ dataService.server_health == 'Critical' ? 'error' :
                                        dataService.server_health == 'Warning' ? 'warn' :
                                        dataService.server_health == 'OK' ? 'on' : null }}">
          </status-icon> <span class="header__textlink">{{ dataService.language == 'ru' ? 'Состояние':'Health' }}</span>
        </a>

        <a class="header-icon-wrapper" href="#/server-control/power-operations"
          ng-class="dataService.server_state == 'Quiesced' ? 'alert-text-critical' : dataService.server_state == 'Off' ? 'alert-text-neutral' : ''">
          <status-icon status="{{ dataService.server_state == 'On' ? 'on' :
                                          dataService.server_state == 'Off' ? 'off' :
                                          dataService.server_state == 'PoweringOn' ? 'loading' :
                                          dataService.server_state == 'PoweringOff' ? 'loading' : null }}">
          </status-icon> <span class="header__textlink">{{ dataService.language == 'ru' ? 'Питание':'Power' }}</span>
        </a>

        <a href="#" class="header-icon-wrapper header__page-refresh" ng-click="refresh()"
          ng-mouseover="loginHover=false; refreshHover=true" ng-mouseleave="refreshHover=false"
          aria-label="refresh page data">
          <icon class="header-icon" file="icon-restart.svg" aria-hidden="true"></icon> <span
            class="header__textlink"> <span class="trim-text-large inline">{{ dataService.language == 'ru' ? 'Обновить':'Refresh data' }}</span></span>
        </a>
        <div class="refresh-hover header__hover-box" ng-show="refreshHover"
          ng-class="refreshHover ? 'refresh-hover header__hover-box show' : 'refresh-hover header__hover-box'">
          <span class="small-text">{{ dataService.language == 'ru' ? 'Последнее обновление':'Last Refreshed' }}</span><br>
          <span class="small-text black"><span>{{dataService.last_updated | localeDate}}</span>
        </div>

        <a href="#" class="header-icon-wrapper header__page-login" ng-click="logout()"
          ng-mouseover="refreshHover=false; loginHover=true" ng-mouseleave="loginHover=false">
          <icon class="header-icon" file="icon-user-avatar.svg" aria-hidden="true"></icon> <span
            class="header__textlink">{{ dataService.language == 'ru' ? 'Выйти':'Logout' }}</span>
        </a>
        <div ng-show="loginHover"
          ng-class="loginHover ? 'login-hover header__hover-box show' : 'login-hover header__hover-box'">
          <span class="small-text">{{ dataService.language == 'ru' ? 'Вы вошли как':'Logged in as' }}</span><br>
          <span class="small-text black"><span>{{dataService.user_id}}</span>
        </div>

      </div>
    </div>
  </div>

</header>