<header id="header">
  <div class="header" ng-class="$root.toggleNavState ? 'collapsed':''">
    <div class="header__info-section">
      <span class="page-title">{{page_title}}</span>
      <div class="header__title">
        <div>{{ dataService.hostname | limitTo: 64 }}{{dataService.hostname.length > 64 ? '...' : ''}}</div>
        <div>{{ dataService.server_id }}</div>
      </div>
    </div>
    <div class="header__functions-section">
      <div class="header__functions">
	<!--<a class="header-icon-wrapper">
          <icon class="header-icon" file="RU-ru-32.png"></icon>
          <span class="header__textlink">{{(dataService.language == 'ru') ? 'Русский':'English/US'}}</span>
	</a>-->
	<!--
	<img src="/app/assets/icons/RU-ru-32.png" border="0">RU
	<img src="/app/assets/icons/EN-us-32.png" border="0">EN
	-->
	<a>
          <select id="language" onchange="setLanguage()">
	    <option value="ru" selected>Русский</option>
	    <option value="en" >English/US</option>
	  </select>
	</a>

        <a class="header-icon-wrapper" href="#/server-health/event-log"
          ng-class="dataService.server_health == 'Critical' ? 'alert-text-critical' : dataService.server_health == 'Warning' ? 'alert-text-warning' : ''">
          <status-icon status="{{ dataService.server_health == 'Critical' ? 'error' :
                                        dataService.server_health == 'Warning' ? 'warn' :
                                        dataService.server_health == 'OK' ? 'on' : null }}">
          </status-icon> H<span class="header__textlink">ealth</span>
        </a>

        <a class="header-icon-wrapper" href="#/server-control/power-operations"
          ng-class="dataService.server_state == 'Quiesced' ? 'alert-text-critical' : dataService.server_state == 'Off' ? 'alert-text-neutral' : ''">
          <status-icon status="{{ dataService.server_state == 'On' ? 'on' :
                                          dataService.server_state == 'Off' ? 'off' :
                                          dataService.server_state == 'PoweringOn' ? 'loading' :
                                          dataService.server_state == 'PoweringOff' ? 'loading' : null }}">
          </status-icon> P<span class="header__textlink">ower</span>
        </a>

        <a href="#" class="header-icon-wrapper header__page-refresh" ng-click="refresh()"
          ng-mouseover="loginHover=false; refreshHover=true" ng-mouseleave="refreshHover=false"
          aria-label="refresh page data">
          <icon class="header-icon" file="icon-restart.svg" aria-hidden="true"></icon> <span
            class="header__textlink">Refresh
            <span class="trim-text-large inline">data</span></span>
        </a>
        <div class="refresh-hover header__hover-box" ng-show="refreshHover"
          ng-class="refreshHover ? 'refresh-hover header__hover-box show' : 'refresh-hover header__hover-box'">
          <span class="small-text">Last Refreshed</span><br>
          <span class="small-text black"><span>{{dataService.last_updated | localeDate}}</span>
        </div>

        <a href="#" class="header-icon-wrapper header__page-login" ng-click="logout()"
          ng-mouseover="refreshHover=false; loginHover=true" ng-mouseleave="loginHover=false">
          <icon class="header-icon" file="icon-user-avatar.svg" aria-hidden="true"></icon> <span
            class="header__textlink">Logout</span>
        </a>
        <div ng-show="loginHover"
          ng-class="loginHover ? 'login-hover header__hover-box show' : 'login-hover header__hover-box'">
          <span class="small-text">Logged in as</span><br>
          <span class="small-text black"><span>{{dataService.user_id}}</span>
        </div>

      </div>
    </div>
  </div>

</header>