<!-- TODO: Replace table with resusable table component -->
<div class="table__row">
  <div class="table__cell bold">
    {{getCertificateName(cert.Description)}}
  </div>
  <div class="table__cell">
    {{cert.Issuer.CommonName}}
  </div>
  <div class="table__cell">
    {{cert.Subject.CommonName}}
  </div>
  <div class="table__cell">
    {{cert.ValidNotBefore | date:medium}}

    <div class="certificate__status-cell">
      <icon file="icon-critical.svg" aria-label="certificate has expired" class="certificate__status-icon"
        ng-if="cert.isExpired">
      </icon>
      <icon file="warning--filled.svg" aria-label="certificate will expire soon" class="certificate__status-icon"
        ng-if="cert.isExpiring">
      </icon>
    </div>

  </div>
  <div class="table__cell">
    {{cert.ValidNotAfter | date:medium}}
  </div>
  <div class="table__cell certificate__buttons-cell action-wrapper">
    <button type="button" ng-click="addCertModal('Replace')" aria-label="Replace certificate"
      class="btn btn-primary btn-small certificate__button">
      <icon file="movement.svg" aria-hidden="true" title="Replace"></icon>
    </button>
    <button type="button" ng-click="confirmDeleteCert(cert)" aria-label="Delete certificate"
      class="btn btn-primary btn-small certificate__button" ng-disabled="!isDeletable(cert)">
      <icon file="icon-trashcan.svg" aria-hidden="true" title="Delete"></icon>
    </button>
  </div>

</div>