<div class="inline__confirm" ng-class="{active: confirm}">
    <div class="inline__confirm-message">
        <p class="h3">{{ dataService.language == 'ru' ? 'Вы уверены что хотите ':'Are you sure you want to '}}<strong>{{title}}?</strong></p>
        <p>{{message}}</p>
    </div>
    <div class="inline__confirm-buttons">
        <button class="btn btn-primary" ng-click="accept()">{{ dataService.language == 'ru' ? 'Да':'Yes' }}</button>
        <button class="btn btn-primary" ng-click="cancel()">{{ dataService.language == 'ru' ? 'Нет':'No' }}</button>
    </div>
</div>