//modal styling
.modal-content{
  .column .label__helper-text:first-child{
    padding-top: 40px;
  }
  .column{
    &.account-lockout .label__helper-text{
      @include mediaQuery(small) {
        padding-top:90px;
      }
    }
  }

  fieldset label:nth-child(3){
    @include mediaQuery(small) {
      padding-left:15px;
    }
  }

  label{
    color: $text-01;
    padding-top:0;
    padding-bottom: 0;
  }
}

//Main page
#user-accounts{
  .hideInputAccess{
    border:1px solid purple;
  }
  .showInputAccess{
    border:1px solid green;
  }
  input[type='text'] {
    &.hideInputAccess{
    border: 0;
    box-shadow: 0 0 0 0;
    background: transparent;
    }
  }

  select {
    &.hideInputAccess{
      border: 0;
      background-position: -9999px;
      box-shadow: 0 0 0 0;
      background: transparent;
    }
  }

  //overrides standard table heading cell separators for merged cells
  .local-users {
    margin-bottom: 50px;
  }

  .local-users__table{
    .table__row-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
      @include mediaQuery(small) {
        .table__head .table__row .table__cell:last-child{
          flex-grow: 1.8;
          //margin-left:-3px;
        }
        .table__row .table__cell:last-child{
          flex-grow: 1.8;
        }
      }

    .table__cell a{
      font-weight:400;
      color: $text-01;
    }

    //e-ng-options
    .editable-radiolist {
      label {
      display: block;
      float:left;
      color: $primary-dark;
      }
    }
  }

}

//Role table and modal local users
.local-users {
  margin-bottom: 50px;
}

.local-users__actions {
  width: 100%;
  display: block;
  min-height: 40px;
}

.modal__local-users,
.modal__local-users-settings {
  .modal-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.modal__local-users {
  input[type="password"] {
    &::placeholder {
      color: $primary-dark;
      font-weight: bold;
    }
    &::-ms-placeholder {
      color: $primary-dark;
      font-weight: bold;
    }
  }
}

.role-table {
  margin-top: 30px;
  .bmc-table__cell:not(:first-of-type) {
    text-align: center;
  }
  .bmc-table__column-header {
    text-align: center;
  }

  // Bootstrap collapse directive override
  // The expanded element gets 'in' class instead of 'show' class
  // Bootstrap changes the display property for 'show' but not 'in'
  .collapse.in {
      display: block!important;
  }

  .table__cell:first-child{
    flex-grow: 4.5;
    text-align: left;
  }

  .table__row:nth-child(even) .table__cell {
    background: $color--grey-20;
  }

}

.icon__check-mark {
  width: 16px;
  height: 16px;
  background-image: url(../assets/icons/icon-check.svg);
  @include greyFilter;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}