
/**
 * Application header styles
 * Should only be used for the application header
 */

 @mixin round-corners {
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px 6px;
  border-radius: 6px 6px;
}

.header__functions a:hover{
  opacity: .7;
}

.header {
  position:fixed;
  display:block;
  width:100%;
  top: 0;
  right: 0;
  z-index: 300;
  background: white;
  border-bottom:1px solid $color--blue-20;
  line-height:1.2;
  overflow:hidden;
  @include mediaQuery(x-small) {
    overflow: visible;
  }
  @include header-height(header);
  @include nav-width(header,false);
  &.collapsed{
    @include nav-width(header,true);
  }
  padding-top:10px;
  padding-bottom:10px;
  z-index: 10;
}

.header__info-section{
  overflow: hidden;
  display: block;
  margin-left: 25px;
  max-width: 260px;
  float:left;
  @include mediaQuery(x-small) {
    max-width: 300px;
  }
  @include mediaQuery(small) {
    display:inline;
    max-width: 320px;
  }
  @include mediaQuery(medium) {
    display:inline;
    max-width: inherit;
  }
}

.header__title {
  color: $color--grey-50;
  font-size:12px;
  display:block;
  float:left;
  font-size:12px;
  div{
    height:15px;
    overflow:hidden;
  }
  div:first-child{
    clear: right;
    font-size:16px;
    height:17px;
    color: $color--blue-50;
  }

  display:none;
  @include mediaQuery(small) {
    display:inline;
  }
}


.page-title{
  float:left;
  color: $color--blue-100;
  font-size:26px;
  margin-right:8px;
}


.header__functions-section{
  overflow: hidden;
  white-space: nowrap;
  float: right;
  margin-right: 30px;
  font-size:12px;
  padding-top:7px;
}

.header__page-login, .header__page-refresh{
  .header-icon{
    @include greyFilter;
    margin-top:-2px;
  }
}

.header__page-refresh .header-icon{
  transform: rotate(90deg);
  margin-top:-3px;
}

.header-icon-wrapper:hover{
  .header-icon, .status-icon.status-on{
    @include LtBluefilter;
  }
}

.header__functions {
  a{
    font-weight:normal;
    color: $color--grey-70;
    padding: 0 5px 10px 0;
    display: inline-block;
    &:hover {
      color: $color--blue-50;
      text-decoration: none;
    }
  }
  display:inline;
  button{
    display:inline;
    width: 40px;
  }
  .header__textlink{
    display: none;
    @include mediaQuery(small) {
      display:inline;
    }
  }
  .status-icon{
    width: 16px;
    height: 16px;
    margin-top:1px;
    svg, img{
      width: 16px;
      height: 16px;
    }
  }
}

.header__functions-section button{
  color: $color--blue-50;
  text-transform: capitalize;
  display: inline;
}

.refresh-hover, .login-hover{
    box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.18);
    padding: 8px 14px 4px 14px;
    border-radius: 4px;
    background: white;
    position: absolute;
    right: 35px;
    margin-top:-10px;
    transition: all .2s ease;
    z-index:0;
    &.show {
      visibility: visible;
      z-index: 200;
      opacity: 1;
      transform: translateY(10px);
      display: block;
    }
}