@mixin form-inputs($input-style){
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 15px 8px 15px 8px;
  @if ($input-style=="icon"){
    padding-left: 30px;
  }
  @if ($input-style!="select"){
    background-position:6px;
  }
  border-radius: 4px;
  background-repeat:no-repeat;
  min-height:45px;
  max-height:none;
  font-size:14px;
  box-sizing: border-box;
}