


// content graph

.content__graph {
  width: 100%;
  float: left;
  position: relative;
  margin-right: 1em;
  margin-bottom: .5em;
  display: none;

  #svg__graph {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #cccccc;
  }
  
  #content__graph-input {
    margin: 0;
    border: 1px solid $input-border;
    padding-left: 40px;
    padding-right: 5px;
    height: 3em;
    max-height: none;
    &:focus {
      box-shadow: none;
    }
  }
  label {
    position: absolute;
    text-indent: -9999px;
    height:20px;
    width: 20px;
    left: 10px;
    top: 25px;
    transform: translateY(-50%);
    background: url("../assets/images/icon-search.svg") center center no-repeat;
    opacity: .6;
  }

  .clear-input {
    display: inline-block;
    height: 30px;
    width: 20px;
    color: $darkgrey;
    padding: 0;
    margin-right: .5em;
  }
  .graph-submit__wrapper {
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
  }


  .tag-filter-label {
    text-transform: uppercase;
    color: $darkgrey;
    font-size: .7em;
    font-weight: 700;
    min-height: 20px;
    line-height:1.3;
    margin-top: .5em;
    text-align: right;
  }
}//end event-log__graph

#content__graph-submit {
  width: 150px;	
  margin-left: 20px;
}
