// toggle buttons for filtering
.toggle-filter {
  display: inline-block;

  .content-label {
    margin-bottom: .4em;
  }
  .filter-label {
    color: $text-02;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75em;
    margin-bottom: 3px;
  }
  margin-right: 2em;
  margin-bottom: 1em;
  .btn {
    float:left;
    width: 100px;
    &:not(:first-of-type) {
      border-left-width: 1px;
    }
  }
  .btn-primary {
    border: 2px solid $primary-accent;
  }
}

.switch {
  position: relative;
  display: inline-block;
  min-width: 82px;

  .input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color--grey-40;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 28px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 4px;
    top: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: $color--green-40;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
  }

  .slider:after{
    content:'';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 12px;
  }

  input:checked + .slider:after
  {
    content:'';
  }
}