.nav__wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}

.above-nav{
  text-align: center;
  padding: 10px 0 80px 0;
  img{
    width: 115px;
  }
}

// Top level navigation
#nav__top-level {
    background: $nav__top-level-color;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include nav-width(navigation,false);
    &.collapsed{
      @include nav-width(navigation,true);
    }
    >li {
      margin: 0;
      height: 3em;
      &.opened{
        height: inherit;
        .nav-link{
          color: $primary-light;
        }
        img{
          @include whitefilter
        }
      }
    }
    > li > a,
    > li > button {
      height: 3.3em;
  }
  button, a, span {
    &:hover {
      &.opened{
        color: $primary-light;
      }
    }
  }
  .nav-icon {
    height: 26px;
    float: left;
    margin: 2px 0 0 1px;
    width: 26px;
    fill: $primary-light;
    svg {
      height: inherit;
      width:  26px;
      max-width: inherit;
      fill: $primary-light;
    }
  }
  .nav-link {
    float: left;
    font-size: 15px;
    padding: 9px 0 0 7px;
    text-transform: capitalize;
    margin-left: 5px;
    &:focus{
      outline: 0;
    }
  }
}

.nav__wrapper button {
  background: transparent;
  border: 0;
  color: $primary-light;
  width: 95%;
  padding: 5px 5px 9px 10px;
  @include mediaQuery(small) {
    margin: 0 0 0 6px;
  }
  display: block;
  text-align: center;
  white-space: normal;
  border-radius: 0;
  text-decoration: none;
  border: 1px solid transparent;
  font-weight: normal;
  font-size: 13px;
  &:hover,
  &:focus {
    background: $color--blue-60;
    color: $color--blue-38;
    border-radius: 0;
    border: 1px solid $color--blue-35;
    outline: 0;
    img {
      @include LtBluefilter;
    }
  }
  .icon {
    margin-left: .3em;
    margin-top: .6em;
  }
}

.btn-overview {
  .nav-link{
    color: $white;
    font-weight: 400;
  }
  &:hover {
    background: $color--blue-60;
    .nav-link{
      color: $color--blue-35;
    }
  }
}

.nav__wrapper button img{
  width: 2em;
  height: 2em;
}

.nav__second-level  {
  @include nav-width(navigation,false);
  list-style-type: none;
  padding: 0px;
  margin: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: all .3s ease-in-out;
  overflow:hidden;
  line-height: 0;
  a {
    color: $white;
    width: 95%;
    padding: 2px 2px 4px 5px;
    margin: 0 0 0 9px;
    text-align: center;
    white-space: normal;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: normal;
    font-size: .9rem;
    text-align: left;
    color: $color--blue-30;
    background: transparent;
    @include mediaQuery(small) {
      padding: 6px 5px 8px 27px;
      margin: 0 0 0 6px;
      background-image: url('../assets/images/img-dots-tall.svg');
      background-size: 2px;
      background-position: left 22px top -5px;
      background-repeat: no-repeat;
    }
    &:hover,
    &:focus {
      background: $color--blue-60;
      color: $color--blue-38;
      border-radius: 0;
      border: 1px solid $color--blue-35;
      margin: 0 0 0 3px;
      padding: 2px 2px 4px 11px;
      outline: 0;
      @include mediaQuery(small) {
        padding: 6px 5px 8px 27px;
        margin: 0 0 0 6px;
        background-image: url('../assets/images/img-dots-tall.svg');
        background-size: 2px;
        background-position: left 22px top -5px;
        background-repeat: no-repeat;
      }
      span{
        color: $color--blue-35;
      }
    }
  }
  &.opened {
    line-height: 1.1;
    overflow: visible;
    transform: scaleY(1);
    li a{
      display:block;
    }
    li:hover{
      @include mediaQuery(small) {
        margin-left: 17px;
        margin: 0;
        padding: 0;
        a{
          padding-left: 27px;
        }
      }
    }
  }

  li {
    @include mediaQuery(small) {
      a:before{
        content: "\00B7 \00a0 \00B7 \00a0 \00B7 \00a0"; // \00B7 = middle dot  \00a0 = space
      }
    }
    &:focus,
    &:hover {
      a {
        color: $color--blue-38;
        @include mediaQuery(small) {
        }
      }
    }
    &.active {
      a span{
        color: $white;
      }
    }
  }

  li:last-child a,
  li:last-child a:hover,
  li:last-child a:focus {
    @include mediaQuery(small) {
      background-position: left 22px bottom -9px;
    }
  }

}

#toggle-collapse{
  bottom: 0;
  margin-bottom: 20px;
  @media screen and (min-height:500px){
    position: absolute;
  }
  opacity: .9;
  cursor: pointer;
  margin-left: 100px;
  outline: 0;
  display: none;
  @include mediaQuery(x-small) {
    display: block;
  }
  @include mediaQuery(small) {
    margin-left: 170px;
  }
  &:hover{
    opacity: 1;
  }
  img,.nav-icon, .nav-icon.icon img{
    width: 32px;
    height: 32px;
  }
}

@mixin collapsed-nav {
  .nav-link{
    display:none;
  }
  .nav__wrapper button:hover {
    background:inherit;
    border:1px solid $color--blue-50;
  }
  .nav__wrapper button{
    width:inherit;
    margin:0 0 0 15px;
  }
  .nav__second-level{
      @include nav-width(navigation,true);
      background-image: none;
      .opened li, li {
        a:hover,a{
          background-image: none;
        }
        a:before{
          content: '';
        }
      }
  }
  .nav-item .nav__second-level  {
    list-style-type: none;
    display:none;
  }
  #toggle-collapse {
    margin-left: 10px;
    img{
      -webkit-transform:rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  .above-nav img{
    width: 80%;
  }
  .nav-item:hover .nav__second-level{
    line-height: 1.2;
    overflow: visible;
    transform: scaleX(1);
    background: $color--blue-60;
    display: block;
    padding: 5px 0px;
    width:200px;
    margin-top:-40px;
    position:absolute;
    @include nav-width(second-level-navigation,true);
    li a{
      display:block;
      &:hover{
        background-repeat:no-repeat;
      }
    }
  }
}

.collapsed{
  @include collapsed-nav;
}

@media only screen and (max-width: $breakpoint-xsmall) {
  @include collapsed-nav;
}

.language-selector-wrapper {
    display: inline-block;
    width: 164px;
    height: 34px;
    padding: 0px 0px 0px 32px;
    background-repeat:no-repeat;
    background-position: left 0px top 0px;
}

.language_ru {
    background-image:url('../assets/icons/RU-ru-32.png');
}

.language_en {
    background-image:url('../assets/icons/EN-us-32.png');
}

select#language { width:128px; display:inline-block; border: 0px; margin-right:4px;}
