<loader loading="loading"></loader>
<div id="power-usage">
  <form class="power-usage__form" role="form" action="">
    <section>
      <div class="columns col-md-12 col-sm-12">
        <div class="page-content-box">
          <h5>{{ dataService.language == 'ru' ? 'Информация о питании' : 'Power Information' }}</h5>

          <div class="table row overview-config-table">

            <div class="table__body">
              <div class="table__row">
                <div class="table__cell">{{ dataService.language == 'ru' ? 'Потребляемая мощность' : 'Power Consumption' }}</div>
                <div class="table__cell" class="padding-right">{{ power_consumption || 'NA' }}
                </div>
              </div>
              <div class="table__row">
                <div class="table__cell">{{ dataService.language == 'ru' ? 'Включить ограничение мощности' : 'Enable Power Cap' }}</div>
                <div class="table__cell" class="padding-right">


                  <div class="toggle-container">
                    <div class="toggle">
                      <input id="toggle__switch-round" class="toggle-switch toggle-switch__round-flat" type="checkbox"
                        tabindex="0" ng-model="power_cap.PowerCapEnable" ng-checked="power_cap.PowerCapEnable" />
                      <label for="toggle__switch-round" tabindex="0">
                        <span class="uid-switch__status">{{ dataService.language == 'ru' ? (power_cap.PowerCapEnable ? "вкл" : "выкл") : (power_cap.PowerCapEnable ? "on" : "off") }}</span>
		      </label>
                    </div>
                    <span>
                      {{ dataService.language == 'ru' ? (power_cap.PowerCapEnable ? "Вкл" : "Выкл") : (power_cap.PowerCapEnable ? "On" : "Off") }}
                    </span>
                  </div>


                </div>
              </div>
              <div class="table__row">
                <div class="table__cell"><span ng-show="!editPowerCap">{{ dataService.language == 'ru' ? 'Установить предел в ваттах' : 'Set Limit in Watts' }}</span></div>
                <div class="table__cell edit-box">

                  <!--start config table-->
                  <div class="table row column">
                    <div class="table__body">
                      <div class="table__row">
                        <div class="table__cell">
                          <span ng-show="!power_cap.PowerCapEnable">
                             {{ dataService.language == 'ru' ? ((!powerCap) ? 'Не задано' : powerCap) : ((!powerCap) ? 'Not Set' : powerCap) }}
                          </span>

                          <input ng-show="power_cap.PowerCapEnable"
                            ng-class="editPowerCap ? 'hideborders' : 'showborders'" id="power-cap" type="number"
                            min="100" max="10000" step="1" ng-disabled="editPowerCap"
                            ng-model="powerCap" />

                        </div>
                        <div class="table__cell action-wrapper" ng-show="power_cap.PowerCapEnable">

                          <div class="bmc-table__row-actions ng-scope">
                            <button ng-show="!editPowerCap" class="btn btn-primary btn-small" ng-click="setPowerCap()">
                              <icon alt="{{ dataService.language == 'ru' ? 'Сохранить':'Save' }}" title="{{ dataService.language == 'ru' ? 'Сохранить':'Save' }}" file="icon-check.svg" aria-hidden="true"></icon>
                            </button>
                            <button ng-show="editPowerCap" class="btn btn-primary btn-small"
                              ng-click="editPowerCap=false">
                              <icon alt="{{ dataService.language == 'ru' ? 'Редактировать':'Edit' }}" title="{{ dataService.language == 'ru' ? 'Редактировать':'Edit' }}" file="icon-edit.svg" aria-hidden="true"></icon>
                            </button>
                            <button ng-show="!editPowerCap" class="btn btn-primary btn-small" ng-click="editPowerCap=true;unsetPowerCap()">
                              <icon alt="{{ dataService.language == 'ru' ? 'Отменить':'Cancel' }}" title="{{ dataService.language == 'ru' ? 'Отменить':'Cancel' }}" file="icon-close.svg" aria-hidden="true"></icon>
                            </button>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end config table-->

                </div>
              </div>
              <div class="table__row">
                <div class="table__cell">{{ dataService.language == 'ru' ? 'Ограничить действия' : 'Limit Actions' }}</div>
                <div class="table__cell" class="padding-right">{{ LimitException }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </form>
  </section>
</div>

<br clear="all">

<div ng-show="0">
  <h1 class="page-title">{{ dataService.language == 'ru' ? 'Управление использованием энергии' : 'Manage Power Usage' }}</h1>
  <form class="power-usage__form" role="form" action="">
    <section class="section">
      <div class="section-header">
        <h2 class="section-title">{{ dataService.language == 'ru' ? 'Информация о питании' : 'Power information' }}</h2>
      </div>
      <dl class="list-pair">
        <dt>{{ dataService.language == 'ru' ? 'Потребляемая мощность' : 'Power Consumption' }}</dt>
        <dd>{{ power_consumption }}</dd>
      </dl>
    </section>
    <section class="section">
      <div class="section-header">
        <h2 class="section-title">
          {{ dataService.language == 'ru' ? 'Настройки ограничения мощности сервера' : 'Server power cap setting' }}
        </h2>
      </div>
      <div class="section-content">
        <p>{{ dataService.language == 'ru'
 ? 'Установите ограничение мощности, чтобы потребление оставалось на уровне или ниже указанного значения в ваттах.'
 : 'Set a power cap to keep power consumption at or below the specified value in watts.' }}
        </p>
        <div class="toggle-container">
          <div class="toggle">
            <input id="toggle__switch-round" class="toggle-switch toggle-switch__round-flat" type="checkbox"
              tabindex="0" ng-model="power_cap.PowerCapEnable" ng-checked="power_cap.PowerCapEnable" />
            <label for="toggle__switch-round" tabindex="0">{{ dataService.language == 'ru' ? '' : '' }}Server power cap setting is
              <span class="uid-switch__status">{{ dataService.language == 'ru' ? (power_cap.PowerCapEnable ? "вкл" : "выкл") : (power_cap.PowerCapEnable ? "on" : "off") }}</span>
	    </label>
          </div>
          <span>
            {{ dataService.language == 'ru' ? (power_cap.PowerCapEnable ? "Вкл" : "Выкл") : (power_cap.PowerCapEnable ? "On" : "Off") }}
          </span>
        </div>
      </div>
      <div class="section-content form__field">
        <label for="power-cap" class="content-label">{{ dataService.language == 'ru' ? 'ЗНАЧЕНИЕ В ВАТТАХ ОГРАНИЧЕНИЯ МОЩНОСТИ' : 'POWER CAP VALUE IN WATTS' }}</label>
        <input id="power-cap" type="number" min="100" max="10000" step="1" ng-disabled="!power_cap.PowerCapEnable"
          ng-model="power_cap.PowerCap" />
      </div>
    </section>
    <div class="form__actions">
      <button type="submit" class="btn-primary" ng-click="setPowerCap()">
        {{ dataService.language == 'ru' ? 'Сохранить настройки' : 'Save settings' }}
      </button>
      <button type="button" class="btn btn-secondary" ng-click="refresh()">
        {{ dataService.language == 'ru' ? 'Отменить' : 'Cancel' }}
      </button>
    </div>
  </form>
</div>