<!-- Shutdown and Reboot modal -->
<div class="uib-modal__content">
  <button aria-label="Close" type="button" class="btn btn--close float-right" ng-click="$dismiss()">
    <icon file="icon-close.svg"></icon>
  </button>
  <div class="modal-header" id="modal-operation">
    <h3>
      <div class="icon__warning inline" aria-label="{{ dataService.language == 'ru' ? 'Предупреждение':'Warning' }}"></div>
    {{ dataService.language == 'ru'
 ? (activeModal === 2 || activeModal === 3 ? "Выключение сервера вызовет сбой в работе интерфейса" : "Перезагрузка сервера вызовет сбой в работе интерфейса")
 : (activeModal === 2 || activeModal === 3 ? "Server shutdown will cause outage" : "Server reboot will cause outage")
    }}
    </h3>
  </div>
  <div class="modal-body">
    <p ng-if="activeModal === 2 || activeModal === 3">
      {{ dataService.language == 'ru'
 ? 'Вы уверены, что хотите '+( activeModal === 2 ? "аккуратно" : "немедленно" )+' выключить систему'
 : 'Are you sure you want to '+( activeModal === 2 ? "orderly" : "immediate" )+' shutdown' }}?
    </p>
    <p ng-if="activeModal === 0 || activeModal === 1">
      {{ dataService.language == 'ru'
 ? 'Вы уверены что хотите '+( activeModal === 0 ? "аккуратно" : "немедленно" )+' перезагрузить систему'
 : 'Are you sure you want to '+( activeModal === 0 ? "orderly" : "immediate" )+' reboot' }}?
    </p>
  </div>
  <div class="modal-footer">
    <!-- Cancel modal power confirmation -->
    <button type="button" class="btn btn-secondary" ng-click="$dismiss()">
      {{ dataService.language == 'ru' ? 'Отменить':'Cancel' }}
    </button>
    <!-- Power operation confirm buttons -->
    <button type="submit" class="btn btn-primary" ng-click="$close(activeModal)">
      <span ng-if="activeModal === 0 || activeModal === 1">{{ dataService.language == 'ru' ? 'Перезагрузить':'Reboot' }}</span>
      <span ng-if="activeModal === 2 || activeModal === 3">{{ dataService.language == 'ru' ? 'Выключить':'Shutdown' }}</span>
    </button>
  </div>
</div>