<loader loading="loading"></loader>
<div id="power-operations" class="power-operations">
  <section class="page-content-simple">
    <div class="column small-8 ">
      <div class="status-wrapper">
        <span>{{ dataService.language == 'ru' ? 'Переопределение настроек загрузки':'Boot setting override' }}</span>
        <label ng-class="(boot.BootSourceOverrideTarget.length>0) ? 'status-label' : 'hide'"
          ng-Show="boot.BootSourceOverrideTarget!='None'">{{ dataService.language == 'ru' ? 'Вкл':'ON' }}: {{prettifyBootTarget(boot.BootSourceOverrideTarget)}} 
	  <span ng-show="boot.oneTimeBootEnabled">{{ dataService.language == 'ru' ? 'только один раз':'one time only' }}</span>
	</label>
        <label class="status-label disabled" ng-show="boot.BootSourceOverrideTarget=='None'">{{ dataService.language == 'ru' ? 'Выкл':'OFF' }}</label>
      </div>
    </div>
    <div class="column small-4 align-right">
      <button ng-click="onClickBootSettings()" class="btn btn-tertiary">
        <icon file="icon-config.svg" aria-hidden="true"></icon>
        {{ dataService.language == 'ru' ? 'Настройки загрузки':'Boot Settings' }}
      </button>
    </div>
  </section>

  <!-- Power Indicator Bar -->
  <div class="row">
    <div class="column small-12 power__indicator-wrapper" ng-class="{'power__state-on': dataService.server_state == 'On', 'power__state-off': dataService.server_state == 'Off', 'power__state-indet': dataService.server_state == 'Standby', 'power__state-error': dataService.server_state == 'Quiesced'}">
      <div id="power-indicator-bar" class="power__indicator-bar progress-bar-striped"></div>

      <div class="power-indicator-status">
        <div class="inline float-left host-name">{{ dataService.language == 'ru' ? 'Питание сервера':'Server Power' }}</div>
        <div class="power__state float-right inline trim-text-small">
          <span>{{dataService.server_state | quiescedToError}}</span>
        </div>
      </div>

    </div>
  </div>

  <BR clear="all">

  <!-- Power Operations Section -->
  <div class="row">
    <div class="operations-wrapper">
      <div ng-show="(!operationPending) && (dataService.server_state == 'On')">

        <!-- Reboot/shutdown sections -->


        <!-- Reboot Field Row -->
        <div class="reboot__operations column medium-6 small-12">
          <div class="page-content-rnd table row column">
            <div class="box-header reboot-header">
              <legend class="boot-operations">{{ dataService.language == 'ru' ? 'Перезагрузка сервера':'Reboot server' }}</legend>
            </div>

            <div class="box-content">
              <form id="reboot-form" name="rebootForm" class="reboot-form">
                <div class="column medium-7 small-12">
                  <fieldset>
                    <label class="control-radio">{{ dataService.language == 'ru'
 ? 'Аккуратно выключить ОС, затем перезагрузить сервер'
 : 'Orderly OS shuts down, then server reboots' }}
                      <input type="radio" name="radioReboot" ng-model="defaultRebootSetting" value="warm-reboot" />
                      <span class="control__indicator control__indicator-on"></span>
                    </label>
                    <label class="control-radio">{{ dataService.language == 'ru'
 ? 'Немедленно перезагрузить сервер без выключения ОС; это может вызвать повреждение данных'
 : 'Immediate Server reboots without OS shutting down; may cause data corruption' }}
                      <span class="helper-text trim-text-medium"></span>
                      <input type="radio" name="radioReboot" ng-model="defaultRebootSetting" value="cold-reboot" />
                      <span class="control__indicator control__indicator-on"></span>
                    </label>
                  </fieldset>
                </div>
                <div class="column medium-5 small-12">
                  <button class="btn-power" ng-click="rebootConfirmModal()" type="submit">
                    <img src="../../assets/images/btn-reboot.svg">
                  </button>
                </div>
              </form>
            </div>

          </div>
        </div>


        <!-- Shutdown Field Row -->
        <div class="shutdown__operations column medium-6 small-12">

          <div class="page-content-rnd table row column">
            <div class="box-header shutdown-header">
              <legend class="shutdown-operations">{{ dataService.language == 'ru' ? 'Выключение сервера':'Shutdown server' }}
		<span class="trim-text-small inline"></span>
              </legend>
            </div>

            <form id="shutdown-form" name="shutdownForm" class="shutdown-form">
              <div class="box-content">
                <div class="column medium-7 small-12">
                  <fieldset>
                    <label class="control-radio">{{ dataService.language == 'ru'
 ? 'Аккуратно выключить ОС, затем выключить сервер'
 : 'Orderly OS shuts down, then server shuts down' }}<span class="helper-text trim-text-medium"></span>
                      <input type="radio" name="radioShutdown" ng-model="defaultShutdownSetting" value='warm-shutdown' />
                      <span class="control__indicator control__indicator-on"></span>
                    </label>
                    <label class="control-radio">{{ dataService.language == 'ru'
 ? 'Немедленно выключить сервер без выключения ОС; это может вызвать повреждение данных'
 : 'Immediate Server shuts down without OS shutting down; may cause data corruption' }}
                      <span class="helper-text trim-text-medium"></span>
                      <input type="radio" name="radioShutdown" ng-model="defaultShutdownSetting" value='cold-shutdown' />
                      <span class="control__indicator control__indicator-on"></span>
                    </label>
                  </fieldset>
                </div>
                <div class="column medium-5 small-12">
                  <button class="btn-power" ng-click="shutdownConfirmModal()" type="submit">
                    <img src="../../assets/images/btn-poweroff.svg">
                  </button>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>

    </div>
  </div>

  <!-- Power on displays only when server is off -->
  <div class="row" ng-show="(dataService.server_state == 'Off') && (!operationPending)">

    <div class="poweron__operations column medium-12 small-12">
      <div class="page-content-rnd table row column">
        <div class="box-header poweron-header">
          <legend class="boot-operations">{{ dataService.language == 'ru' ? 'Включение сервера':'Power on server' }}
	    <span class="trim-text-small inline"></span>
          </legend>
        </div>
        <div class="box-content">
          <div ng-class="{disabled: dataService.server_unreachable}">
            <button id="power__power-on" class="btn-power" ng-click="powerOn()" role="button" ng-disabled="dataService.server_unreachable">
              <img src="/app/assets/images/btn-poweroff.svg">
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- Pending reboot warning -->
<div class="page-content-rnd alert-message" ng-show="operationPending">
  <p> {{ dataService.language == 'ru'
 ? 'Запрос на действие по питанию успешно принят. Управление питанием будет восстановлено после завершения.'
 : 'Power action request is successfully placed. Power operation controls will be restored once completed.' }}
  </p>
</div>
</div>