#configuration-date-time{

  .dns-settings .table__cell:nth-child(2){
    flex-grow: 1.2;
  }

  .slide-in{
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: all .3s ease-in-out;
    &.opened{
      transform: scaleY(1);
    }
  }
  .table__row, td{
    font-size: 14px;
  }

  .control-radio.indent{
    margin-left: 15px;
  }
}