
#configuration-network{
  .action-wrapper{
    min-width: 124px;
    &.table__cell{
      padding-left: 0;
    }
  }
  .dns-settings .table__cell:first-child{
    flex-grow: .4;
  }
  .dns-settings .table input{
    width:100%;
  }
  .ipv4-settings .table__cell:nth-child(4){
    flex-grow: .6;
  }
  .row{
    display:block;
  }
  .table__row{
    font-size: 14px;
  }
}