#sys-log {
  input[type='date']{
    padding: 15px 5px 15px 5px;
  }

  #filters-date-type-search .sys-log__date-filter .columns {
    padding-right: 0;
    padding-left: 0;
    &:first-child {
      padding-right: 3px;
    }
    padding-bottom: 3px;
    &:first-child {
      @include mediaQuery(medium) {
          padding-left: 0;
          padding-right: 0.75rem;
      }
    }
    @include mediaQuery(medium) {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }
  }

  .row {
    max-width: 100%;
  }

  .sys-log__col-date{
    line-height: 1;
    padding-top:10px;
    margin: auto;
    &.table__head{
      padding: 0;
    }
  }

  .table__head {
    .sys-log__col-date{
      line-height: 2.8em;
    }
  }

  .table__head .table__cell{
    line-height: 1;
    padding-top:19px;
    padding-bottom:19px;
  }

  .two-col-wrapper{
    display:inline;
  }

  .alert-box{
    position: absolute;
    z-index: 100;
    right: 8px;
    margin-top: -30px;
    border-radius: 0px;
    text-align: left;
    font-size: 14px;
    width: fit-content;
    transition: all .2s ease;
    box-shadow: 0px 4px 35px 6px $box-shadow-color;
    transform: scale(0); /*scale it to a smaller size*/
    button{
      @include resize-button('x-small')
    }
    &.show {
      visibility: visible;
      z-index: 200;
      opacity: 1;
      transform: scale(1); /*scale it to a default size*/
    }
  }

  .sys-log__table {
    font-size:13px;
  }

  .sys-log__col-date{
    min-width:20%;
    text-align:left;
    font-weight: 500;
    @include mediaQuery(x-small) {
      font-weight: inherit;
      max-width:200px;
    }
    @include mediaQuery(medium) {
      font-weight: inherit;
    }
  }

  .sys-log__col-desc{
    cursor: pointer;
    line-height:1.4em;
    padding-top:19px;
    &.expand{
      white-space: inherit;
      overflow: visible;
      text-overflow: unset;
      padding-bottom:19px;
      transition: all .4s ease;
    }
  }
  .content__search {
    margin: 0;
  }

  #content__search-input {
    width:100%;
  }



  .sys-log__col-sev{
    @include mediaQuery(x-small) {
      max-width:150px;
    }
  }

  .sys-log__col-id{
    max-width:120px;
  }

  .details-hide{
    display:none;
  }

  .line1{
    display:inline;
    @include mediaQuery(x-large) {
      display:inline;
    }
  }
  .line2{
    display:block;
    color: $color--grey-70;
  }
}



