<div class="uib-modal__content  modal__local-users-settings">
  <div class="modal-header">
    <h2 class="modal-title" id="dialog_label">{{ dataService.language == 'ru' ? 'Параметры политики учетной записи':'Account policy settings' }}</h2>
    <button aria-label="Close" type="button" class="btn btn--close float-right" ng-click="$dismiss()">
      <icon file="icon-close.svg" aria-hidden="true"></icon>
    </button>
  </div>
  <form name="form">
    <div class="modal-body">

      <div class="row">

        <div class="column medium-6">
          <!-- Max login attempts -->
          <div class="field-group-container">
            <legend>{{ dataService.language == 'ru' ? 'Допустимое количество попыток входа':'Allowable login attempts' }}</legend>
            <input id="maxLogin" name="maxLogin" type="number" required min="0" max="65535" ng-model="modalCtrl.settings.maxLogin" />
            <div ng-if="form.maxLogin.$invalid && form.maxLogin.$dirty" class="form__validation-message">
              <span ng-show="form.maxLogin.$error.required">
                {{ dataService.language == 'ru' ? 'Обязательное поле':'Field is required' }}</span>
              <span ng-show="form.maxLogin.$error.min || form.maxLogin.$error.max">
                {{ dataService.language == 'ru' ? 'Значение должно быть в диапазоне':'Value must be between' }} <span class="nowrap">1 - 65535</span></span>
            </div>

          </div>
        </div>

        <div class="column medium-6">
          <p class="label__helper-text">{{ dataService.language == 'ru' ? 'Введите максимальное число неудачных попыток входа до блокировки':'Enter maximum failed login attempts before lockout' }}</p>
          <p class="label__helper-text">{{ dataService.language == 'ru' ? 'Установите 0 для разрешения бесконечного числа попыток входа':'Set to 0 to allow infinite login attempts' }}</p>
        </div>

      </div>

      <div class="row">

        <div class="column medium-6">
          <!-- User unlock method -->
          <fieldset class="field-group-container">
            <legend>{{ dataService.language == 'ru' ? 'Метод разблокировки пользователя':'User unlock method' }}</legend>
            <!-- Automatic radio option -->
            <label class="radio-label inline">
              <input name="lockoutMethod" type="radio" ng-value="0" ng-model="modalCtrl.settings.lockoutMethod">
              {{ dataService.language == 'ru' ? 'Ручной':'Manual' }}
            </label>
            <label class="radio-label inline">
              <input name="lockoutMethod" type="radio" ng-value="1" ng-model="modalCtrl.settings.lockoutMethod">
              {{ dataService.language == 'ru' ? 'Автоматический':'Automatic' }}
            </label>
            <!-- Automatic timeout value -->
            <div class="field-group-container  radio-option__input-field-group">
              <input placeholder="unlock after (seconds)" id="lockoutMethod1" name="timeoutDuration" type="number"
                aria-describedby="lockoutMethod1Helper" ng-min="modalCtrl.settings.lockoutMethod ? 1 : null"
                ng-disabled="!modalCtrl.settings.lockoutMethod" ng-required="modalCtrl.settings.lockoutMethod"
                ng-model="modalCtrl.settings.timeoutDuration" />
              <div ng-if="form.timeoutDuration.$invalid && form.timeoutDuration.$touched"
                class="form__validation-message">
                <span ng-show="form.timeoutDuration.$error.required">
                  {{ dataService.language == 'ru' ? 'Обязательное поле':'Field is required' }}</span>
                <span ng-show="form.timeoutDuration.$error.min">
                  {{ dataService.language == 'ru' ? 'Значение должно быть не менее 1':'Value must be at least 1' }}</span>
              </div>
            </div>
            <!-- Manual radio option -->
          </fieldset>
        </div>
        <div class="column medium-6 account-lockout">
          <p class="label__helper-text">
	    {{ dataService.language == 'ru' ? 'Учетная запись будет разблокирована по истечении этого времени (в секундах) ':'Account will be unlocked after this amount of time (in seconds) ' }}
	  </p>
          <!-- TO DO: Make this minutes-->
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" ng-click="$dismiss()" type="button">
	{{ dataService.language == 'ru' ? 'Отменить':'Cancel' }}
      </button>
      <button class="btn btn-primary" type="submit" ng-click="$close(form)" ng-disabled="form.$invalid || form.$pristine" ng-class="{'disabled': form.$invalid}">
        {{ dataService.language == 'ru' ? 'Сохранить':'Save' }}
      </button>
    </div>
  </form>
</div>