<loader loading="loading"></loader>

<div id="user-accounts">

  <section class="page-content-simple">
    <div class="columns large-12 small-12 align-right">
      <button ng-disabled="accountSettings === null" ng-click="onClickAccountSettingsPolicy()" class="btn btn-tertiary">
        <icon file="icon-config.svg"></icon>
        {{ dataService.language == 'ru' ? 'Параметры учетной записи':'Account settings' }}
      </button>
    </div>
  </section>

  <section id="user-edit" class="page-content-rnd">
    <div class="local-users">

      <div class="local-users__actions">
        <button ng-disabled="userRoles === null || localUsers.length >= 15" ng-click="onClickAddUser()"
          class="btn-icon">
          <icon file="add--alt.svg" aria-hidden="true"></icon>
          {{ dataService.language == 'ru' ? 'Добавить пользователя':'Add user' }}
        </button>
      </div>

      <bmc-table data="tableData" header="tableHeader" row-actions-enabled="true" selectable="true"
        batch-actions="tableBatchActions" emit-row-action="onEmitRowAction(value)"
        emit-batch-action="onEmitBatchAction(value)" class="local-users__table">
      </bmc-table>

      <role-table></role-table>
    </div>
  </section>

</div>