<form name="form" id="firmware__upload-form" role="form" class="firmware__upload-form">

  <div class="uib-modal__content">
    <button aria-label="Close" type="button" class="btn btn--close float-right" ng-click="$dismiss()">
      <img src="../../assets/icons/icon-close.svg">
    </button>
    <div class="modal-header" id="modal-operation">
      <h3>
        {{ dataService.language == 'ru' ? 'Добавить файл образа':'Add Image File' }}
      </h3>
    </div>
    <div class="modal-body">
      <section class="row column">
        <div class="row">
          <div class="columns col-12">
            <legend for="boot-selected align-left">
{{ dataService.language == 'ru' ? 'Загрузить файл образа с рабочего места':'Upload image file from workstation' }}
	    </legend>
          </div>
          <div class="columns col-12">
            <p>
{{ dataService.language == 'ru' ? 'Выберите файл прошивки BMC, который будет использоваться для обновления BMC.':'Select a BMC firmware file to use to update the BMC.' }}
            </p>
            <label for="file-upload" class="inline firmware__upload-chooser">
              <input id="file-upload" name="uploadedfile" type="file" file="file" class="hide" ng-model="modalCtrl.uploadedfile" />
              <span class="btn btn-secondary">{{ dataService.language == 'ru' ? 'Выберите файл':'Choose a file' }}</span>
              <span class="inline firmware__upload-file-name"><span ng-if="!file">{{ dataService.language == 'ru' ? 'Файл не выбран':'No file chosen' }}</span><span
                  ng-if="file.name !== undefined">{{file.name}}</span></span>
            </label>
            <div class="inline uploading" ng-show="uploading">{{ dataService.language == 'ru' ? 'Выполняется загрузка файла':'Upload in progress' }}...</div>
          </div>
        </div>
      </section>

    </div>

  </div>

  <div class="modal-footer">
    <!-- form actions -->
    <div class="boot-form-actions">
      <button type="reset" class="btn btn-secondary" ng-click="$dismiss();">
        {{ dataService.language == 'ru' ? 'Отменить':'Cancel' }}
      </button>
      <input type="button" ng-disabled="!file" value="{{ dataService.language == 'ru' ? 'Загрузить прошивку':'Upload firmware' }}" class="btn btn-primary float-right" ng-click="$close(form)" />
    </div>
  </div>

</form>