<div class="role-table">

  <button class="btn-icon accordion-trigger" ng-click="roleTableCtrl.onClick()" ng-class="{'accordion-trigger--expanded' : !roleTableCtrl.isCollapsed}">
    <icon file="chevron--down.svg" aria-hidden="true"></icon>
    <span ng-if="roleTableCtrl.isCollapsed">{{ dataService.language == 'ru' ? 'Показать описания привилегий роли':'View privilege role descriptions' }}</span>
    <span ng-if="!roleTableCtrl.isCollapsed">{{ dataService.language == 'ru' ? 'Скрыть описания привилегий роли':'Hide privilege role descriptions' }}</span>
  </button>


  <div uib-collapse="roleTableCtrl.isCollapsed">
    <bmc-table data="roleTableCtrl.tableData" header="roleTableCtrl.tableHeader" size="'small'">
    </bmc-table>
  </div>
</div>